In [29]:
import sqlite3 as sq

# Build the tables Count

In [30]:
letter = 'r'
databasefilename = 'data/database-%s.sqlite' % letter

In [31]:
dbconnection = sq.connect(databasefilename)
cursor = dbconnection.cursor()

In [32]:
''' Create the table `countbulk`
    from the count on the `bulk`
'''

cursor.execute( '''DROP TABLE IF EXISTS countbulk''' )

createCountTable = """CREATE TABLE countbulk AS
                      SELECT bulk, sum(match_count) AS matchcount, 
                             sum(volume_count) AS volumecount, 
                             GROUP_CONCAT(DISTINCT ngram) AS ngrams
                      FROM ngram
                      GROUP BY bulk """

cursor.execute( createCountTable )

dbconnection.commit()

In [33]:
# Get the top 30:
createCountTable = """SELECT * from countbulk
                      ORDER BY matchcount DESC
                      LIMIT 30"""

cursor.execute( createCountTable )

rows = cursor.fetchall()
for row in rows:
    print(row)

('rien', 79251426, 3603345, 'RIEN,Rien_ADV,rien_PRON,RIEN_ADV,RIen_PRON,rien_NOUN,Rien_NOUN,RIEN_NOUN,Rien_PRON,rien,Rien,RIEN_PRON,rien_ADV,RIen,rien_')
('rapport', 70571546, 2278544, 'RAPPoRT,rapPort,raPPort,RaPPORT,RaPPort_NOUN,raPport,RAPPoRT_NOUN,Rapport,rapPort_NOUN,raPport_NOUN,RAPPORt,RAPPORT,rappOrt,raPPort_NOUN,RAPPORt_NOUN,RAPPORT_NOUN,RaPPORT_NOUN,rappOrt_NOUN,Rapport_NOUN,rapport,RaPPort,rapport_NOUN')
('roi', 69314725, 1898735, 'rOI_NOUN,roi_NOUN,rOi_NOUN,ROI_NOUN,RoI_NOUN,roi_,ROi,RoI,rOI,Roi,ROI,rOi,Roi_NOUN,ROi_NOUN,roi,roI_NOUN,roI')
('raison', 59114288, 1816040, 'raisOn,raiSOn,Raison_NOUN,RAISON_NOUN,RAISON,raison,raisOn_NOUN,raiSon,raison_NOUN,raison_,raiSOn_NOUN,Raison,raiSon_NOUN')
('reste', 57296476, 2812949, 'reSte_NOUN,Reste_NOUN,reSte,ReSte,reste,RESTE,resTe,reste_VERB,Reste,reSte_VERB,ReSte_VERB,RESTE_NOUN,reste_,Reste_VERB,reste_NOUN,RESTE_VERB')
('rendre', 36175266, 1588842, 'Rendre_VERB,rendre,RENDRE_VERB,rendre_VERB,RENDRE,Rendre')
('rôle', 36091716, 1647690, 'Rôle,rÔle,Rôle_NOUN,rôle_NOUN,rôle,RÔle_NOUN,RÔLE_NOUN,RôLE_NOUN,rôLe,rÔle_NOUN,RÔLE,rôLe_NOUN,RôLE,RÔle')
('résultats', 32605206, 1575282, 'Résultats_NOUN,RÉSULTATS,résultats,RÉSULTATS_NOUN,résuLtats_NOUN,Résultats,résultats_NOUN,RÉSULTaTS_NOUN,résuLtats,RÉSULTaTS')
('rue', 29348990, 1923132, 'ruE_NOUN,rUE,rue_,rUE_NOUN,rUe,RUe,RUE_NOUN,RuE_NOUN,rue,RUe_NOUN,ruE,rue_NOUN,Rue,Rue_NOUN,RuE,RUE,rUe_NOUN')
('république', 28635420, 1585814, 'RÉPUBLIQUE,République,RÉPUBlIQUE_NOUN,RépuBlique_NOUN,République_NOUN,RÉPUBLIQUE_NOUN,RÉPUBLiQUE,RÉPUBLiQUE_NOUN,république_NOUN,RÉPUBlIQUE,RépuBlique,république')
('recherche', 27614798, 2102048, 'Recherche_VERB,recherche,RECHERCHE_VERB,RECHERCHE_NOUN,RECHERCHE,recherche_VERB,REcherche_NOUN,Recherche,REcherche,Recherche_NOUN,recherche_NOUN')
('régime', 27330000, 1502712, 'RÉGIME,RÉGIME_NOUN,Régime_NOUN,régime_NOUN,régime,Régime')
('région', 27029222, 1325574, 'RÉGION_NOUN,Région_NOUN,région,région_NOUN,RÉGION,Région')
('rapports', 26734522, 1772396, 'Rapports,rapports,Rapports_NOUN,raPPorts_NOUN,raPPorts,rapports_NOUN,RAPPORTS_NOUN,RAPPORTS')
('relations', 26234094, 1690600, 'RELATIONS,RELATiONS_NOUN,RELATIONS_NOUN,Relations,Relations_NOUN,relations_NOUN,RELATiONS,relations')
('réalité', 26136458, 1404718, 'RÉALITÉ_NOUN,Réalité,Réalité_NOUN,réalité_NOUN,RÉALITÉ,réalité')
('révolution', 26026580, 1817852, 'RÉVOlUTION,RÉVOLUTION,RÉvOLUTION,Révolution,révolution,RÉVOlUTION_NOUN,RÉVOLUTION_NOUN,réVolution_NOUN,RéVolution_NOUN,RéVolution,révolution_NOUN,réVolution,RÉvOLUTION_NOUN,Révolution_NOUN')
('r.', 24219166, 1568068, 'R._NOUN,R._X,r._PRON,R._PRON,r._NOUN,r._ADJ,R._,r.,R._VERB,R._PRT,r._ADV,R._ADJ,r._PRT,r._,r._VERB,R.,R._DET,r._X,r._DET')
('religion', 22743542, 1428677, 'Religion_PRON,religion_X,religion_NOUN,religion_DET,RELIGION_X,Religion_X,religion_ADJ,religion,RELIGION,Religion,Religion_NOUN,religion_PRON,RELIGION_NOUN,religion_VERB')
('recherches', 21679180, 1849934, 'RECHERCHES_NOUN,RECHERCHES,Recherches,REcherches,recherches_NOUN,Recherches_NOUN,recherches,REcherches_NOUN')
('revue', 21614869, 2162073, 'revUe,REvuE,revue_VERB,ReVUE_NOUN,Revue_NOUN,ReVUE,rEVUE_NOUN,revue,REvUE_NOUN,ReVue_NOUN,RevUe,revUe_NOUN,revue_NOUN,ReVue,REVUE_VERB,reVue,rEVUE,REvUE,RevUe_NOUN,REVUE,reVue_NOUN,REVUE_NOUN,Revue_VERB,ReVUe_NOUN,Revue,REVuE,ReVUe')
('résultat', 21459690, 1560304, 'RÉSULTAT_NOUN,Résultat,résultat_NOUN,Résultat_NOUN,RÉSULTAT,résultat')
('retour', 20557196, 1752602, 'retoUr_NOUN,RETOUR_NOUN,Retour_NOUN,retour_NOUN,Retour,retoUr,retour,RETOUR')
('route', 18557024, 1429364, 'roUte,route,ROUTE_NOUN,rOute,Route,rOute_NOUN,Route_NOUN,ROUTE,route_NOUN,roUte_NOUN')
('rome', 18543054, 1047158, 'roME_NOUN,ROME_NOUN,Rome,RoME,Rome_NOUN,rome_NOUN,rOME,ROme,rOME_NOUN,ROME,RoME_NOUN,ROme_NOUN,rome,roME')
('règles', 17390840, 1351160, 'Règles_NOUN,RÈGLES_NOUN,règles_NOUN,règLes,Règles,RÈGLES,règLes_NOUN,règles')
('réponse', 17253018, 1685544, 'réponse_NOUN,RÉPONSE,Réponse,RÉPONSE_NOUN,réponse,Réponse_NOUN')
('rendu', 16770252, 1498656, 'Rendu,RENDU,rendu,Rendu_VERB,rendu_VERB,RENDU_VERB')
('royaume', 16531364, 1424769, 'RoYAUME,Royaume,RoYAUME_NOUN,ROYAUME_PRT,ROYAUME_X,royaume_DET,Royaume_ADV,Royaume_PRON,Royaume_,royaume_PRT,ROYAUME,Royaume_VERB,royaume_CONJ,royaume_NOUN,Royaume_PRT,Royaume_CONJ,royaume_ADV,royaume,royaume_PRON,royaume_ADJ,royaume_X,Royaume_DET,Royaume_NOUN,royaume_VERB,Royaume_X,ROYAUME_NOUN')
('relation', 16220493, 1451766, 'relation_VERB,Relation_NOUN,RELATION_DET,relation_NOUN,relation,Relation_DET,RELATION_NOUN,relation_ADJ,relation_PRT,Relation_PRON,Relation_X,RELATION_X,relation_PRON,Relation,relation_X,relation_DET,RELATION')

In [34]:
# Build the table `countngram` using the ngram:

cursor.execute( '''DROP TABLE IF EXISTS countngram''' )

createCountTable = """CREATE TABLE countngram AS
                      SELECT ngram, sum(match_count) AS matchcount,
                      sum(volume_count) AS volumecount
                      FROM ngram
                      GROUP BY ngram """

cursor.execute( createCountTable )

dbconnection.commit()

In [35]:
# Get the top 30:
createCountTable = """SELECT * from countngram
                      ORDER BY matchcount DESC
                      LIMIT 30"""

cursor.execute( createCountTable )

rows = cursor.fetchall()
for row in rows:
    print(row)

('rien', 35918056, 735403)
('rien_PRON', 33582027, 733332)
('rapport', 31421698, 718616)
('rapport_NOUN', 31421698, 718616)
('raison', 29001873, 741322)
('raison_NOUN', 29001873, 741322)
('reste', 27841995, 748952)
('roi', 26349866, 527230)
('roi_NOUN', 26349866, 527230)
('rendre', 18002986, 730715)
('rendre_VERB', 18002986, 730715)
('rôle', 17684156, 685547)
('rôle_NOUN', 17684156, 685547)
('reste_VERB', 15758482, 731363)
('résultats', 15586004, 618719)
('résultats_NOUN', 15586004, 618719)
('rue', 13320485, 606351)
('rue_NOUN', 13320485, 606351)
('réalité', 12964969, 653267)
('réalité_NOUN', 12964969, 653267)
('région', 12697576, 525758)
('région_NOUN', 12697576, 525758)
('régime', 12670766, 555951)
('régime_NOUN', 12670766, 555951)
('rapports', 12632608, 660091)
('rapports_NOUN', 12632608, 660091)
('recherche', 12324585, 651170)
('relations', 12213762, 632956)
('relations_NOUN', 12213762, 632956)
('reste_NOUN', 12083513, 701929)

In [37]:
''' Look for stats
'''

query = """   SELECT ngram, sum(match_count) AS matchcount, 
                             sum(volume_count) AS volumecount
                      FROM ngram
                      WHERE bulk IS ?
                      GROUP BY ngram
                      ORDER BY matchcount DESC"""

bulk = 'recherche' 
cursor.execute( query, (bulk, ) )

rows = cursor.fetchall()
for row in rows:
    print(row)

('recherche', 12324585, 651170)
('recherche_NOUN', 11796853, 640016)
('Recherche', 1222807, 204545)
('Recherche_NOUN', 1213914, 203388)
('recherche_VERB', 527732, 259188)
('RECHERCHE', 259829, 68537)
('RECHERCHE_NOUN', 259523, 68479)
('Recherche_VERB', 8893, 6265)
('RECHERCHE_VERB', 306, 186)
('REcherche', 178, 137)
('REcherche_NOUN', 178, 137)

In [38]:
cursor.close()